.yard{
    width: 100%;

    position: relative;
}
.tom{
    position: absolute;
    bottom: 200px;
    right: 10px;
}
.jerry{
    
    position: absolute;
    bottom: 200px;
    right: 150px ;
}
.spikee{
    position: absolute;
    top: 150px;
    left: 250px;
}
.sun{
    position: absolute;
    top: 10px;
    right: 10px;
}

.jerry-image{
    width: 100px;
    height: 100px;
    animation: jerry 10s infinite ease-in ;
}
.tom-image{
    width: 150px;
    height: 200px;
    animation: tom 10s infinite ease-in ;
    
}
.spike-image{
    width: 200px;
    height: 150px;

}
.sun-image{
    width: 150px;
    height: 150px;
    animation: sun 30s infinite ;
}
@keyframes jerry{
    10%{transform: scaleX(1)
        translate(-150px,50px);}
    20%{transform:scaleX(1)
         translate(-300px,70px);}
    30%{transform: scaleX(1)
        translate(-500px,90px);}
    40%{transform: 
        translate(-800px, 150px);}    
    50%{transform: scaleX(-1)
        translate( 800px, 50px);}
    70%{transform:scaleX(-1)
        translate(700px,-150px);}
    85%{transform:scaleX(-1)
         translate(300px,-150px);}
         90%{transform: scaleX(-1)
            translate(200px, 50px);}
    100%{transform:scaleX(-1)
         translate(100px,50px);}
}
@keyframes tom{
    
    10%{transform: scaleX(1)
        translate(-150px,50px);}
    20%{transform:scaleX(1)
         translate(-300px,70px);}
    30%{transform: scaleX(1)
        translate(-500px,90px);}
    40%{transform: 
        translate(-800px, 150px);}    
    50%{transform: scaleX(-1)
        translate( 1100px, 50px);}
    70%{transform:scaleX(-1)
        translate(900px,-150px);}
    85%{transform:scaleX(-1)
         translate(600px,-150px);}
         90%{transform: scaleX(-1)
            translate(400px,50px);}
    100%{transform:scaleX(-1)
         translate(350px,50px);}
}
@keyframes sun{
    0%{ transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
    }